{deps, [
        {gpb, ".*", {git, "https://github.com/tomas-abrahamsson/gpb", {tag, "4.1.3"}}}
       ]}.

{erl_opts, [
            {i, "./_build/default/plugins/gpb/include"},
            debug_info,
            warnings_as_errors
           ]}.

{plugins, [{rebar3_gpb_plugin, "2.2.4"}]}.

{provider_hooks, [
    {pre, [{compile, {protobuf, compile}},
           {clean, {protobuf, clean}}]}
]}.

{gpb_opts, [
            {i, "src"},
            {msg_name_suffix, "_pb"},
            {o_erl, "src/pb"},
            {o_hrl, "src/pb"},
            {module_name_suffix, "_pb"},
            {strings_as_binaries, false},
            type_specs
           ]}.

{dialyzer, [
            {warnings, [unknown]},
            {plt_apps,all_deps}
           ]}.

{xref_checks,[
              undefined_function_calls,
              undefined_functions,locals_not_used,
              deprecated_function_calls,
              deprecated_functions
             ]}.
